/* Fonts */
$primary-font       : 'DM Sans', sans-serif;
$secondary-font     : 'Poppins', sans-serif;

$fz-base            : 19px;
$lh-base            : 2.5rem;

/* Colors */
$white              : #ffffff;
$black              : #000000;
$lightgrey          : #EFEFEF;
$grey               : #F0F0F0;
$green              : #237646 !important;
$blue               : #D2FAFF;
$darkblue           : #242E43;
$beige              : #FCF1D0;
$pink               : #F2C7C7;
$orange             : #FF9300;
$orange-hover       : #FFB01A;
$brown              : #C9801E;
$placeholder        : #757575;
$greytitles         : #999999;
$red                : #FF0001;

/* Responsive */
$responsive-xxs     : 474px;
$responsive-xs      : 767px;
$responsive-ios     : 812px;
$responsive-sm      : 1024px;
$responsive-md      : 1200px;
$responsive-lg      : 1400px;
