.text-image-block {
    position: relative;

    &::before {
        content: '';
        background: $lightgrey;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 50px;
        left: 0;
        z-index: -1;
    }

    img {
        margin-top: 100px;
        box-shadow: 4px 8px 18px rgba(0, 0, 0, 0.15);
    }

    &__card {
        margin-top: -50px;
        margin-left: 30%;
        padding: 160px 120px;
        background: $white;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);

        @include tablet {
            margin-top: 0;
            margin-left: 0;
            padding: 30px;
        }

        h3 {
            font-size: 40px;
            font-weight: 500;
            margin-bottom: 60px;
        }

        .button {
            margin-top: 80px;
        }
    }

    &__text-block {
        margin: initial;
        max-width: 550px;

        @include tablet {
            margin: 0 auto;
        }
    }
}
