.app {
    background: $white;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    li {
        font-family: $primary-font;
    }

    span {
        line-height: inherit;
    }

    .app-header {
        display: flex;
        flex-flow: row;
        align-items: center;

        &__logo {
            max-width: 100%;

            @include tablet() {
                max-width: 80%;
            }
        }
    }

    .app-body {
        overflow: hidden;

        .sidebar {
            width: 100%;
            background-color: $lightgrey;
            flex: 0 0 400px;
            margin-left: -400px;
            max-width: 400px;

            .sidebar-nav,
            .sidebar-scroll,
            .nav {
                width: 100%;
            }

            .nav {
                .nav-item {
                    margin: 0 40px;
                    font-size: 19px;
                    font-weight: 400;
                    line-height: 2.5rem;

                    &.open {
                        a {
                            background-color: $white;
                        }
                    }

                    .nav-icon {
                        height: 24px;
                        width: 40px;
                        font-size: 24px;
                        color: $orange;
                        margin: 0;
                    }

                    a {
                        border-radius: 30px;
                        color: $darkblue;
                    }

                    &:hover {
                        > a {
                            background-color: rgba($white, 0.3);

                            &::before {
                                color: #242E43;
                            }
                        }
                    }

                    &.nav-dropdown {
                        background-color: transparent;

                        .nav-dropdown-toggle {
                            &::before {
                                right: 1.2rem;
                                transform: rotate(-90deg);
                            }
                        }

                        .nav-dropdown-items {
                            .nav-item {
                                margin: 10px 0;
                            }
                        }

                        &.open {
                            .nav-dropdown-toggle {
                                &::before {
                                    transform: rotate(90deg);
                                }
                            }
                        }
                    }
                }

                .nav-title {
                    color: $black;
                    margin-top: 20px;
                    margin-left: 40px;
                }
            }

            .navbar-brand {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-flow: row wrap;
                padding: 60px 67px;

                &__company-logo {
                    margin-top: 5px;
                }
            }
        }

        .main {
            margin-top: 100px;
            overflow-x: hidden;
            overflow-y: auto;

            form {
                .form-row {
                    position: relative;
                    display: flex;
                    align-items: center;
                    margin: 36px 0;

                    label {
                        width: 200px;
                        font-size: 18px;
                    }

                    input {
                        border-radius: 40px;
                        padding: 20px;
                        border: 1px solid rgba($darkblue, 0.25);
                        margin-right: 10px;
                        width: 35%;

                        &.full-width {
                            width: calc(100% - 210px);
                        }
                    }

                    .select-wrap {
                        position: relative;
                        width: 35%;
                        padding: 0;
                        margin: 0;

                        &::before {
                            position: absolute;
                            top: 50%;
                            right: 1.2rem;
                            display: block;
                            width: 8px;
                            height: 8px;
                            padding: 0;
                            margin-top: -4px;
                            content: "";
                            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3Cpath fill='%2373818f' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/%3E%3C/svg%3E");
                            background-repeat: no-repeat;
                            background-position: center;
                            transform: rotate(-90deg);
                        }
                    }

                    textarea,
                    select {
                        -webkit-appearance: none;
                        background-color: $white;
                        border-radius: 40px;
                        padding: 20px;
                        border: 1px solid rgba($darkblue, 0.25);
                        margin-right: 10px;
                        width: 100%;
                    }
                }
            }
        }
    }

    .sidebar-show {
        .sidebar {
            margin-left: 0;
        }
    }

    .content-header {
        display: flex;
        flex-flow: row;
        align-items: center;

        &__title {
            font-size: 40px;
            line-height: 45px;
            font-weight: bold;
        }

        &__edit {
            margin-left: 3vw;
        }
    }


}
